- name: Copy patching script to root home directory
  ansible.builtin.template:
    src: "patching.sh.j2"
    dest: "/root/patching.sh"
    owner: root
    group: root
    mode: "0755"
  become: true

- name: Configure patching cron job
  ansible.builtin.cron:
    name: "auto_patching"
    minute: "{{ host.patching.cron[0] }}"
    hour: "{{ host.patching.cron[1] }}"
    day: "{{ host.patching.cron[2] }}"
    month: "{{ host.patching.cron[3] }}"
    weekday: "{{ host.patching.cron[4] }}"
    job: "sudo /root/patching.sh"
    user: root
    state: "{{ 'present' if host.patching.enabled else 'absent' }}"
  become: true
