- name: Create temporary directory
  ansible.builtin.file:
    path: "{{ host.temp_directory }}"
    state: directory
    mode: "0755"

- name: Copy RBAC configuration for helm
  ansible.builtin.template:
    src: helm_rbac_config.yml.j2
    dest: "{{ host.temp_directory }}/helm_rbac_config.yml"
  changed_when: false

- name: Apply RBAC configuration for helm
  kubernetes.core.k8s:
    kubeconfig: "{{ kubernetes.controller.kubeconfig.user_path }}"
    state: present
    src: "{{ host.temp_directory }}/helm_rbac_config.yml"
