- name: Configure Kubelet args
  ansible.builtin.template:
    src: "kubelet.j2"
    dest: "/etc/default/kubelet"
    owner: root
    group: root
    mode: 0644
  notify: "restart_kubelet"

- name: Flush handlers to restart kubelet if needed
  ansible.builtin.meta: flush_handlers
