debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

ci_workspace_path: "{{ lookup('env', 'CI_WORKSPACE') | default('.') }}"
ci_kubeconfig_path: "{{ lookup('env', 'KUBE_CONFIG_PATH') | default(ci_workspace_path + '/kubeconfig', true) }}"

temp_directory: "/tmp/ansible_home"

host_dns_nameservers: ["1.1.1.1", "1.0.0.1"]

patching_enabled: true
patching_cron: ['15', '2', '*', '*', '1'] # Set per-host

zfs_pool_name: "zfspv-pool"
zfs_pool_device: "/dev/sda1"

k8s_version: "1.34.1"
k8s_major_version: "{{ k8s_version.split('.')[0] }}.{{ k8s_version.split('.')[1] }}"
k8s_service_network_cidr: "10.96.0.0/12"
k8s_pod_network_cidr: "10.244.0.0/16"
k8s_cluster_domain: "cluster.local"
k8s_container_runtime: "containerd"
k8s_container_runtime_socket: "/var/run/containerd/containerd.sock"
k8s_kube_config_source: "/etc/kubernetes/admin.conf"
k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"
k8s_apiserver_ip: "{{ hostvars[groups['k8s_controller'][0]]['ansible_default_ipv4'].address | default(lookup('community.general.dig', groups['k8s_controller'][0] ~ '.local.', fail_on_error=true))}}"
k8s_apiserver_port: 6443
k8s_kubeadm_opts: ""
k8s_init_opts: ""
k8s_discovery_token_secret_name: "k8s-discovery-token"
k8s_discovery_token: "{{ lookup('infisical.vault.read_secrets', secret_name=k8s_discovery_token_secret_name, path='/', project_id=infiscal_project_id, env_slug=infiscal_environment_slug, url=infiscal_url).value }}"
k8s_force_cluster_reset: "{{ lookup('env', 'K8S_FORCE_CLUSTER_RESET') | default(false) | bool }}"
k8s_kubelet_extra_args: "" # Additional args to pass to kubelet service
k8s_kubelet_include_extra_args: false # Whether to include extra args file for kubelet

velero_cli_version: "1.17.1"
velero_cli_arch: "arm64"
velero_cli_download_url: "https://github.com/vmware-tanzu/velero/releases/download/v{{ velero_cli_version }}/velero-v{{ velero_cli_version }}-linux-{{ velero_cli_arch }}.tar.gz"
velero_cli_install_dir: "/usr/local/bin"
velero_cli_enabled: true
