debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

ci_workspace_path: "{{ lookup('env', 'CI_WORKSPACE') | default('.') }}"
ci_kubeconfig_path: "{{ lookup('env', 'KUBE_CONFIG_PATH') | default(ci_workspace_path + '/kubeconfig', true) }}"

remote_temp_directory: "/tmp/ansible_home"

host_dns_nameservers: ["1.1.1.1", "1.0.0.1"]

patching_enabled: true
patching_cron: ['15', '2', '*', '*', '1'] # Set per-host

k8s_version: "1.34.1"
k8s_major_version: "{{ k8s_version.split('.')[0] }}.{{ k8s_version.split('.')[1] }}"
k8s_service_network_cidr: "10.96.0.0/12"
k8s_pod_network_cidr: "10.244.0.0/16"
k8s_cluster_domain: "cluster.local"
k8s_container_runtime: "containerd"
k8s_container_runtime_socket: "/var/run/containerd/containerd.sock"
k8s_kube_config_source: "/etc/kubernetes/admin.conf"
k8s_kubectl_config_dir: "/home/{{ ansible_ssh_user }}/.kube"
k8s_kubectl_config_path: "{{ k8s_kubectl_config_dir }}/config"
k8s_apiserver_ip: "{{ hostvars[groups['k8s_controller'][0]]['ansible_default_ipv4'].address | default(lookup('community.general.dig', groups['k8s_controller'][0] ~ '.local.', fail_on_error=true))}}"
k8s_apiserver_port: 6443
k8s_kubeadm_opts: ""
k8s_init_opts: ""
k8s_discovery_token: "{{ lookup('env', 'K8S_DISCOVERY_TOKEN') }}"
k8s_force_cluster_reset: "{{ lookup('env', 'K8S_FORCE_CLUSTER_RESET') | default(false) | bool }}"
k8s_kubelet_extra_args: "" # Additional args to pass to kubelet service
k8s_kubelet_include_extra_args: false # Whether to include extra args file for kubelet
