debug: "{{ lookup('env', 'DEBUG') | default(false) | bool }}"

ansible_python_interpreter: "/usr/bin/python3.13"

ci:
  workspace_path: "{{ lookup('env', 'CI_WORKSPACE') | default('.') }}"
  kubeconfig_path: "{{ lookup('env', 'KUBE_CONFIG_PATH') | default(ci.workspace_path + '/kubeconfig', true) }}"

host:
  temp_directory: "/tmp/ansible_home"
  patching:
    enabled: true
    cron: ['15', '2', '*', '*', '1'] # Set per-host
  network:
    dns_nameservers:
      - "1.1.1.1"
      - "1.0.0.1"

kubernetes:
  version: "1.34.1"
  patch_version: "{{ kubernetes.version.split('.')[0] }}.{{ kubernetes.version.split('.')[1] }}"
  cluster:
    network:
      pod_cidr: "{{ lookup('env', 'K8S_POD_NETWORK_CIDR') }}"
      service_cidr: "{{ lookup('env', 'K8S_SERVICE_NETWORK_CIDR') }}"
      domain: "{{ lookup('env', 'K8S_CLUSTER_DOMAIN') }}"
    container:
      runtime:
        name: "containerd"
        socket: "/var/run/{{ kubernetes.cluster.container.runtime.name }}/{{ kubernetes.cluster.container.runtime.name }}.sock"
    kubelet:
      extra_args: []
    kubeadm:
      extra_init_args: []
      extra_args: []
      force_reset: "{{ lookup('env', 'K8S_FORCE_CLUSTER_RESET') | default(false) | bool }}"
      token: "{{ lookup('env', 'K8S_DISCOVERY_TOKEN') }}"
  controller:
    ip: "{{ hostvars[groups['k8s_controller'][0]]['ansible_default_ipv4'].address | default(lookup('community.general.dig', hostvars[groups['k8s_controller'][0]].ansible_host, fail_on_error=true)) }}"
    apiserver:
      ip: "{{ kubernetes.controller.ip }}"
      port: 6443
    kubeconfig:
      source: "/etc/kubernetes/admin.conf"
      user: "{{ ansible_ssh_user }}"
      user_path: "/home/{{ kubernetes.controller.kubeconfig.user }}/.kube/config"

