- name: Fetch Kubeconfig from K8s Controller
  hosts: k8s_controller
  become: true
  become_user: root
  tasks:
    - name: Fetch kubectl config for CI cluster access
      ansible.builtin.fetch:
        src: "{{ k8s_kube_config_source }}"
        dest: "{{ ci_kubeconfig_path }}"
        flat: true


