- name: Fetch Kubeconfig from K8s Controller
  hosts: k8s_controller
  become: true
  become_user: root
  tasks:
    - name: Fetch kubectl config for CI cluster access
      ansible.builtin.fetch:
        src: "{{ kubernetes.controller.kubeconfig.source }}"
        dest: "{{ ci.kubeconfig_path }}"
        flat: true
    - name: Debug path
      debug:
        vars:
          dest: "{{ ci.kubeconfig_path }}"
          source: "{{ kubernetes.controller.kubeconfig.source }}"
