---
- name: Configure base system, docker, and k8s base components
  hosts: all
  roles:
    - {role: base, tags: ['base']}
    - {role: docker, tags: ['docker']}
    - {role: k8s/base, tags: ['k8s_base']}
  become: true
  become_user: root

- name: Configure Kubernetes controller nodes
  hosts: k8s_controller
  roles:
    - {role: k8s/controller, tags: ['k8s_controller']}
    - {role: helm, tags: ['helm']}
  become: true
  become_user: root

- name: Configure Kubernetes worker nodes
  hosts: k8s_worker
  roles:
    - {role: k8s/worker, tags: ['k8s_worker']}
  become: true
  become_user: root
