- name: Determine cmdline.txt location
  block:
    - name: Get os_prefix value
      ansible.builtin.shell: "sudo vcgencmd get_config os_prefix | cut -d= -f2"
      register: os_prefix
      changed_when: false
      become: true

    - name: Set cmdline.txt path based on os_prefix
      ansible.builtin.set_fact:
        discovered_cmdline_path: "/boot/firmware/{{ os_prefix.stdout }}cmdline.txt"
  rescue:
    - name: Set default cmdline.txt path
      ansible.builtin.set_fact:
        discovered_cmdline_path: "/boot/firmware/cmdline.txt"

- name: Enable required cgroups
  ansible.builtin.include_tasks: loop_append_cgroup.yml
  vars:
    cmdline_path: "{{ discovered_cmdline_path }}"
  loop:
    - cgroup_enable=cpuset
    - cgroup_enable=memory
    - cgroup_memory=1

- name: Run handlers if any cgroup settings were changed
  ansible.builtin.meta: flush_handlers
